.mainBg {
  background-color: #e7e7e7;
  height: 100vh;
}
.loginNav {
  background-color: #1b5acf;
  height: 11vh;
  box-shadow: 1px 1px 5px;
}
.header {
  color: white;
  padding: 10px;
}
.formBg {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px;
  border-radius: 7px;
  height: fit-content;
  width: auto;
}
