.mainBg {
  background-color: gainsboro;
  height: 100vh;
}
.loginNav {
  background-color: rgb(59, 59, 245);
  height: 10vh;
  box-shadow: 1px 1px 5px;
}
.header{
  color: white;
  padding: 10px;
}
.formBg {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px;
  border-radius: 7px;
  height: 50vh;
  width: 35vw;
}
