.homeBg {
  background-color: #eeeeee;
  height: 100%;
}
.homeNav {
  box-shadow: 1px 1px 5px;
}

.title {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

/* ======== UserPart ========= */
.profileImage {
  border-radius: 50%;
}
.publish {
  background-color: #f4f4f4;
}

.textarea {
  resize: none;
  outline: none;
  padding: 10px;
}
.likeIcon {
  color: blue;
}
.commentInput {
  outline: none;
  border-style: groove;
  border-color: gray;
  border-radius: 20px;
  padding-right: 5px;
  width: 300px;
}
.commentButton {
  height: 30px;
}

.homePosts {
  box-shadow: 1px 1px 1px rgb(225, 224, 224), -1px -1px 1px rgb(225, 224, 224);
}
.divSearch {
  text-align: center;
}
.searchInput {
  outline: none;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  height: 6vh;
  width: 22vw;
}
.searchIcon {
  color: white;
  margin-bottom: 2px;
}



/* ---------------------------------------- */
@media (min-width: 601px) and (max-width: 900px) {
  .homeUserPart {
    display: none;
  }
  .homePostP {
    display: contents;
  }

  .postPart {
    width: 70vw;
  }
}

@media (min-width: 280px) and (max-width: 600px) {
  .homeUserPart {
    display: none;
  }
  .homePostP {
    display: contents;
  }

  .postPart {
    width: 80vw;
  }

  .homeMyprofile{

display: none;
    
  }

}


