.homeBg {
  background-color: #e7e7e7;
  height: 100%;
}
.homeNav {
  box-shadow: 1px 1px 5px;
}
.title {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.Bg {
  background-color: rgb(205, 235, 235);
}
