.profileBg {
  background-color: #eeeeee;
  height: 100%;
}

/* ------------------------------ */

@media (min-width: 601px) and (max-width: 900px) {
  .friendUpperPart {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: start;
    padding: 10px;
  }

  .friendInfo {
    display: none;
  }

  .friendPost {
    display: contents;
    width: 70vw;
  }
}

@media (min-width: 280px) and (max-width: 600px) {
  .friendUpperPart {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: start;
    padding: 10px;
  }

  .friendSky {
    display: none;
  }
  .friendInfo {
    display: none;
  }

  .friendPost {
    display: contents;
    width: 80vw;
  }
}
