.RegMainBg {
    background-color: #e7e7e7;
    height: 100%;
  }
  .body{
    width: 50vw;
  }
  .registerNav {
    background-color: rgb(59, 59, 245);
    height: 11vh;
    box-shadow: 1px 1px 5px;
  }
